<div class="wrapper">
  <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;top: 25vh;color: #f8f8f8;position: relative;text-shadow: 2px 2px #333;">Employee App</h1>
  <form class="forms">
    <h3>Sign Up</h3>
    <small><a href="#" class="fpassword">Forgot Password</a></small>
      <div class="form-group">
        <div class="feedback"><i class="fas fa-user"></i></div>
        <input type="text" placeholder="First name">
      </div>
      <div class="form-group">
          <input type="text" placeholder="Last name">
        </div>
        <div class="form-group">
            <div class="feedback"><i class="fas fa-mail-bulk"></i></div>
            <input type="email" placeholder="Email address">
          </div>
          <div class="form-group">
            <label><input type="checkbox">Male</label>
            <label><input type="checkbox">Female</label>
          </div>
          <div class="form-group">
              <input type="password" placeholder="Create Password">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm Password">
              </div>
      <div class="form-group"><br>
        <button type="submit" class="btn-submit">
            <i class="fas fa-save" style="font-size:15px"></i> SIGN UP
        </button>
      </div>
      <br><small><a routerLink="/login" class="fpassword">have an account? <strong>Sign In</strong></a></small>
  </form>
</div>